<div>
  <div class="col-md-4 container">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Create New Account</h1>
      <p>Don't let your dreams, be dreams!</p>
    </div>
    <form class="form-register" (submit)="onRegisterSubmit">
      <div class="mb-3">
        <label for="firstname">First Name</label>
        <input type="firstname" class="form-control" id="firstname" placeholder="Shia" required>
        <div class="invalid-feedback">
          First Name is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="lastname">Last Name</label>
        <input type="lastname" class="form-control" id="lastname" placeholder="LaBeouf" required>
        <div class="invalid-feedback">
          Last Name is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="just@doit.com" required>
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="***********" required>
        <div class="invalid-feedback">
          Password is required.
        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    </form>
</div>
