<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="..\..\..\assets\img\spark-logo.png" alt="" width="84" height="145">
    <h1 class="h3 mb-3 font-weight-normal">Sparkin' Up</h1>
    <p>Welcome back, Soldier.</p>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  </div>

  <div class="checkbox mb-3 text-center">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">
    No account?<a routerLink="/register">   Register Now!</a></p>
  <p class="mt-5 mb-3 text-muted text-center"><a routerLink="/">Forgot Password?</a></p>
</form>
