<body>
  <app-navbar></app-navbar>
  <div class="text-center">
    <h1 class="title">Welcome to Sparkin' Up</h1>
    <h6 class="text-muted">The startup founding network that takes ideas and fundraises them while also
      providing the opportunity for those with little experience to work for multiple companies on multiple projects.
      The app tracks the transfer of points so that all of the transactions and the work done is available.</h6>
    <button class="btn btn-info btn-lg">See For Yourself</button>
  </div>
</body>
