<body>
  <app-navbar></app-navbar>
  <div class="text-center container">
    <h1>Sparkin' Up lets you put the spark back in your startup.</h1>
    <p class="text-muted">The startup founding network that takes ideas and fundraises them while also
      providing the opportunity for those with little experience to work for multiple companies on multiple projects.
      The app tracks the transfer of points so that all of the transactions and the work done is available.</p>
    <button class="btn btn-info btn-lg" routerLink="/register">Join Us - It's Free.</button>
  </div>
</body>
